[2021-08-25 20:26] patchandpray opened #1 "Document setting up a local kubernetes development environment"
For developing data use cases on kubernetes we need a local development environment. Let's look into minikube and k3d and document the steps and sources used to setting up a local kubernetes dev environment.

Ideally we would have a markdown document describing these steps and sources which we can link to and re-use across this repository.

[2021-08-26 06:41] patchandpray opened #2 "Setup K8ssandra on local dev cluster"
As part of the use case we want to develop we want to check if we for our Kubernetes native DB we can use https://k8ssandra.io/

Ideally the outcome of this issue would be a document describing some of the features and advantages of using k8ssandra on kubernetes + steps how to setup an instance on a local dev cluster (minikube or other) + sources used to achieve this.

[2021-08-27 09:50] patchandpray opened #4 "We need a way to store RAP yaml contents into K8Ssandra database"
The idea is that rap lyrics, title, artist etc go in one way and then are written to the K8Ssandra database running on Kubernetes.

For this the backend code should do atleast the following:
- take RAP as an input (we can have this be a .yaml file for now)
- Ensure RAP yaml input adheres to a schema that we can write to the DB
- An interface for writing to the K8Ssandra database via stargate: http

[2021-09-09 09:13] patchandpray opened #6 "We need an initial project outline"
This will help make more concrete the following:
- what are we going to be building
- what are the components
- what does the architecture look like
- what are our doubts and fears

[2021-09-09 17:17] AbhijithGanesh opened #8 "Template for Issue, Idea and Bug"
We need a .yml template for Issues, Ideas,Q and A, bug. This would streamline our process of development.

[2021-09-09 17:27] AbhijithGanesh commented on #8
Continuing the Slack conversation here, I am working on the .yml files

[2021-09-10 15:59] AbhijithGanesh commented on #8
It works on my repo perfectly. @kaiwalyakoparkar (I lost track of your mention elsewhere)

[2021-09-11 04:29] kaiwalyakoparkar commented on #8
@AbhijithGanesh I was asking if you can enable issue tab on your forked repo so that we can test out this template

[2021-09-11 04:35] AbhijithGanesh commented on #8
I enabled it yesterday, and it can be tested there @kaiwalyakoparkar . I have also pushed the other yml files

[2021-09-12 09:58] kaiwalyakoparkar commented on #8
Thanks, comment added

[2021-09-12 10:11] verma-kunal commented on #8
i think we can also use templates from EddieHub Community!! (with a little modifications)
https://github.com/EddieHubCommunity/support/tree/main/.github/ISSUE_TEMPLATE

They are nicely structured
what do you think?
cc @kaiwalyakoparkar @patchandpray

[2021-09-12 16:52] AbhijithGanesh commented on #8
Would you like me to restructure it like the Eddie Hub Community forms? @verma-kunal

[2021-09-12 17:10] verma-kunal commented on #8
you have already made a PR for `issue.yaml`, right!! So, i think thats good to go for now (do make sure to add the necessary changes suggested by @kaiwalyakoparkar, in order for that to be ready to merge)

For the other files, we can take help from EddieHub's templates, but let's take other's opinions as well on this!🙂

[2021-09-12 17:11] AbhijithGanesh commented on #8
I have tried implementing the changes Kaiwalya had suggested, I just didn't understand which emote he was talking about and it was confusing😅

[2021-09-13 10:45] #6 closed

[2021-09-13 15:36] patchandpray commented on #1
I was thinking this can also just be some references to some good articles or info about setting up the local environment

[2021-09-13 15:47] patchandpray opened #10 "ELI5 Data worfklows"
We need to have a good high level introduction to Data Workflows. What is it, why do you need it. Basically Explained Like I'm 5.
So that we can handle and refer to all the concepts in a very understanding and simple way.

This can help us fit in more complex components that we are building when explaining.

[2021-09-15 14:31] #8 closed

[2021-09-18 06:02] shreemaan-abhishek opened #12 "[Issue]: Minor issues in `Knowledge needed` list in README.md file."
### Issue

There are some techs missing from the `Knowledge needed` list.

### What happened?

There are some techs like Docker/Containerization, Node.js, and Express.js missing from the `Knowledge needed` list.

### Is this a browser specific issue? If so which browsers are you seeing the problem on?

_No response_

### Further Details

_No response_

[2021-09-18 06:04] shreemaan-abhishek commented on #12
Err, how do I remove labels from the issue.

[2021-09-18 06:05] shreemaan-abhishek opened #13 "[Issue]: Typo in README.md file"
### Issue

K8ssandra is spelled as K8Ssandra.
![](https://user-images.githubusercontent.com/61597896/133878249-ab2cf8bf-4a6d-4cd6-8275-86dfd8d91cdb.png)

### What happened?

It should be spelled K8ssandra instead.

### Is this a browser specific issue? If so which browsers are you seeing the problem on?

_No response_

### Further Details

_No response_

[2021-09-21 09:26] bradmccoydev commented on #1
Hey @patchandpray Im keen to pick this one up...

[2021-09-21 09:29] AbhijithGanesh commented on #1
Actually, after yesterday's synchronous meeting, I agreed to work on this and I started documenting my journey. I will be writing a full-fledged blog, so feel free to give me more inputs folks and
Heyy @bradmccoydev I might contact you if I run into errors

[2021-09-21 16:10] AbhijithGanesh opened #16 "[Feature]: Addition of configuration files."
### Feature

Configuration files

### What is your idea related to?

I wish to add all config files to the config directory which will make it useful for upcoming members to use.

### Further Details

_No response_

[2021-09-22 07:00] #13 closed

[2021-09-22 07:02] AbhijithGanesh commented on #12
Is it necessary to remove labels?

[2021-09-22 07:03] AbhijithGanesh commented on #4
I think this can be considered done as we've figured out storage can be done through Blob storage or other types as mentioned in the docs.

[2021-09-23 06:08] AbhijithGanesh opened #19 "[Idea]: Addition of all contributors"
### Idea

Contributors to be added to readme

### Elaboration

We can use the all contributors bot/plugin to maintain list of contributors.

### Further Details/ Image and Video Based suggestion
https://allcontributors.org/

[2021-09-23 09:42] shreemaan-abhishek commented on #12
Not really, but the labels added to this issue are very irrelevant.

[2021-09-24 14:57] ShivamTyagi12345 commented on #19
i can help with this

[2021-09-30 18:27] bradmccoydev opened #21 "[Feature]: Add code of conduct and OS license to repo"
### Feature

Add code of conduct and OS license to the repository

### What is your idea related to?

Add code of conduct and OS license to the repository

### Further Details

_No response_

[2021-10-04 07:50] #12 closed

[2021-10-05 00:40] shreemaan-abhishek commented on #12
@patchandpray could you please add the  hacktoberfest-accepted label?

[2021-10-18 16:11] patchandpray opened #25 "[Issue]: Move google docs resources to github"
### Issue

We need a more central place for the resources than google docs

### What happened?

We found out during the sync meeting that it would be better to have the resources in git

### Is this a browser specific issue? If so which browsers are you seeing the problem on?

_No response_

### Further Details

_No response_

[2021-10-18 16:37] ShivamTyagi12345 commented on #25
Hi @Adwaita10 .As you are fairly new with your contributions , you can go ahead and make a Draft PR for the issue ,I will review that if it requires any changes😄Sounds good?

[2021-10-18 16:40] Adwaita10 commented on #25
@ShivamTyagi12345  Sure. Thanks a lot.

[2021-10-19 06:18] AbhijithGanesh commented on #25
I think multiple contributors can contribute to this one issue, therefore it should really look cool. Keep contributing

[2021-10-19 16:13] Adwaita10 commented on #25
@AbhijithGanesh Yes. I'll create the basic layout and move all the current resources as of now. You can keep adding resources on the go.

[2021-10-20 05:17] verma-kunal commented on #25
go for it

[2021-10-20 05:18] AbhijithGanesh commented on #25
EOD it'll be there

[2021-10-20 05:28] verma-kunal commented on #25
We have a [resources file](https://github.com/dokc/how-to-dok/blob/main/RESOURCES.md) now in the repo!!
The basic layout looks good & we can build up as go ahead!!

[2021-11-30 07:32] helper-uttam opened #35 "GitHub Greeting action"
### Idea

Creating one GitHub action workflow to greet contributors.

### Elaboration

The idea is to create a Bot with **GitHub Actions**  that will greet all contributors when they will raise any PR.

### Further Details/ Image and Video Based suggestion

_No response_

[2021-11-30 07:47] kaiwalyakoparkar commented on #19
I see this issue has been taken care of in #20 PR which is merged so I will close this issue

[2021-11-30 07:47] #19 closed

[2021-12-01 07:51] ashish-jaiswar opened #38 "[Issue]: typo in README.md"
### Issue

 spelling mistake in Readme page

### What happened?

 Some words in this page  are incorrect like  worfklow, seperate , helpfull.

### Is this a browser specific issue? If so which browsers are you seeing the problem on?

_No response_

### Further Details

![Screenshot (71)](https://user-images.githubusercontent.com/88731979/144191937-679e2f32-1453-4b12-a2cc-105e64b39fe9.png)

[2021-12-01 07:51] ashish-jaiswar commented on #38
/assign

[2021-12-01 07:53] ashish-jaiswar commented on #38
@ashish-jaiswar

[2021-12-01 09:44] utkarsh1311 opened #40 "[Issue]: Typo in `CONTRIBUTING.md`"
### Issue

Typo in the `git rebase` command

### What happened?

At line `43` in the `CONTRIBUTING.md` file, the command `git rebase master` should `git rebase main` as we are updating our feature branch with the `main` branch.

### Is this a browser specific issue? If so which browsers are you seeing the problem on?

_No response_

### Further Details

![Screenshot from 2021-12-01 15-12-10](https

[2021-12-01 09:45] utkarsh1311 commented on #40
/assign

[2021-12-01 14:10] Deepn05 commented on #40
Should I fix this issue?

[2021-12-01 15:40] kaiwalyakoparkar opened #43 "[Issue]: Fix greetings action"
### Issue

Bug in greetings action

### What happened?

Because the `greetings.yml` is placed outside the `.github/workflows` directory it's not working

### Is this a browser specific issue? If so which browsers are you seeing the problem on?

_No response_

### Further Details

_No response_

[2021-12-01 15:41] kaiwalyakoparkar opened #44 "[Issue]: Rename issue template to bug"
### Issue

renamming the Issue Template to bug

### What happened?

The current name does not suit the flow. It should be `ideas`, `features`, `bug`

### Is this a browser specific issue? If so which browsers are you seeing the problem on?

_No response_

### Further Details

_No response_

[2021-12-01 15:59] #43 closed

[2021-12-01 16:01] kaiwalyakoparkar opened #46 "[OTHER] <description>"
### What would you like to share?

Trial for greetings action

### Additional information

_No response_

### Would you like to work on this issue?

- [X] Yes, I want to work on this issue!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-01 16:01] #46 closed

[2021-12-01 16:18] patchandpray opened #47 "[Issue]: Testing our workflow"
### Issue

Testing our greeting

### What happened?

A bug happened! with our greeting workflow

### Is this a browser specific issue? If so which browsers are you seeing the problem on?

_No response_

### Further Details

_No response_

[2021-12-01 16:29] patchandpray commented on #47
well its not working :D

[2021-12-02 07:35] #40 closed

[2021-12-02 12:55] patchandpray opened #51 "[FEATURE] Example application with Dockerfile that can write to cassandra"
### Would you like to have a new feature? Please describe.

We need to have some examples of applications that can write and utilize cassandra and in the future possibly also other Databases and backends / interfaces that run on Kubernetes.

Ideally we can have the code with a Dockerfile that people can build and test themselves (in the future also with the accompanying backend setup).

The applic

[2021-12-02 13:04] ShivamTyagi12345 commented on #51
This is something i would love to help out with

[2021-12-02 15:42] #47 closed

[2021-12-02 18:07] ashish-jaiswar commented on #44
/assign

[2021-12-02 18:08] ashish-jaiswar commented on #44
can you assign me for this issue?

[2021-12-02 18:10] ashish-jaiswar commented on #38
this issue is fixed.

[2021-12-02 18:10] #38 closed

[2021-12-03 14:30] kaiwalyakoparkar commented on #44
Sorry for the inconvinience @ashish-jaiswar this issue has already been fixed. You can take a look at other issues :slightly_smiling_face:

[2021-12-03 14:30] #44 closed

[2021-12-07 12:31] ShivamTyagi12345 commented on #51
hey , i have been working on this and have a few questions

1. How can i learn more about dockerfiles that can automate the process of storing the data in a database (Mongo db / cassandra etc)

2. Am I approaching this issue correctly by creating a Nodejs app that helps users to write some data in the UI  (like a form ) and then sends it in the desired db?

[2021-12-08 05:36] helper-uttam commented on #51
Heu @ShivamTyagi12345 , I think you are going in right direction because NANA has also made the same application in which she  dockerized a database application with Nodejs. 💯

[2021-12-08 06:03] ShivamTyagi12345 commented on #51
sure @helper-uttam  do join

[2021-12-08 06:09] helper-uttam commented on #51
This sounds great!

[2021-12-13 12:39] AmitKarnam opened #54 "[FEATURE] Add Notes on topics related to the project"
### Would you like to have a new feature? Please describe.

I would like to add notes on few topics that can act as the staring point for new contributors.
My main focus would be on the following topics :
1) Cloud Native
2) Containers and Docker
3) Container Orchestration and Kubernetes

### How would this feature be beneficial for the project

This feature would be the starting point for new cont

[2022-01-10 14:21] patchandpray opened #62 "[OTHER] MicroTopic - Argo Workflows what is it, how does it work?"
### What would you like to share?

Investigate what Argo Workflows is, what it is commonly used for and how it works on Kubernetes.

Distill this down to something that we can share with the community, in the form of a blog post or via preparing a micro presentation with some slides.

### Additional information

_No response_

[2022-01-10 14:25] patchandpray opened #63 "[OTHER] MicroTopic - How do I run an Argo Workflow on K3S"
### What would you like to share?

We need an example of how to run a simple argo workflow on K3S as a base starting point for implementing our own worklfow.

Can we get a document or micro presentation describing the steps that somebody needs to take to get an Argo Workflow running on K3S?

There is already good documentation out there but it would be good to have somebody show first hand experie

[2022-01-10 14:27] patchandpray opened #64 "[OTHER] - MicroTopic - What are the various ways that we can get RAP data into C(k8s)sandra"
### What would you like to share?

There are many ways that applications can write data to C(k8s)sandra. Either via a frontend and backend that is connected to a cassandra database. But maybe also via the cli, or maybe also via an app without a backend that is listening to a filesystem or some other event?

I think it would be nice if we investigate which ways there are that we can load data into

[2022-01-10 14:31] patchandpray opened #65 "[OTHER] MicroTopic - An application that writes data to cassandra"
### What would you like to share?

Can we develop a simple application that only does one thing? Write data to cassandra. It can be in any language that we prefer.

It should take data, does not matter in which way (input file, via a web form, on the command line) and write it to a cassandra database.

Can we show the workings of this application via a blog post, document or share it via slides in

[2022-01-10 14:33] patchandpray opened #66 "[OTHER] MicroTopic - What is DevOps? and how can Kubernetes help here?"
### What would you like to share?

Can we have an investigation in what is DevOps and what the importance is of Kubernetes for DevOps?

Can we share this via a document / blog post / micro presentation?

### Additional information

_No response_

[2022-01-10 14:34] patchandpray opened #67 "[OTHER] MicroTopic - What is DataOps? And how can Kubernetes help here?"
### What would you like to share?

Investigate what is DataOps and what the impact of kubernetes is on this?

Distill this down to a blog post, document of micro presentation?

### Additional information

_No response_

[2022-01-10 14:36] patchandpray opened #68 "[OTHER] MicroTopic - Build a data worfklow using Argo Worfklows"
### What would you like to share?

Build a simple data workflow using argo workflows that consists of a couple of steps that do some thing. The steps do not need to be complicated or write any data to databases. Just show how a simple workflow is developed and works.

We should have a base starting point of showing how we would build our own workflows.

An example of a workflow could be:
- write "

[2022-01-10 14:38] patchandpray opened #69 "[OTHER] MicroTopic - A good alternative to cassandra for our DB on Kubernetes"
### What would you like to share?

Which other Databases are there that we could use in stead of cassandra.

Maybe at some point we want to use something else versus cassandra.

Which other Databases are out there?
Which one would be good to use as Data Warehouse?

Can we get an overview of options that are out there with pro's and con's? and distill this and show this in a micro presentation?

##

[2022-01-10 14:39] patchandpray opened #70 "[OTHER] MicroTopic - How do we build and push our custom docker images to a central repository?"
### What would you like to share?

We need an example of how we can build and push what we build as docker containers (images) to a repository so that our kubernetes clusters can use these docker images.

How do we do this?

Can we get an example / blog post/ document describing how to do this with a micro presentation on the subject?

### Additional information

_No response_

[2022-01-10 14:46] ShivamTyagi12345 commented on #62
/assign

[2022-01-10 14:47] ShivamTyagi12345 commented on #70
/assign

[2022-01-11 02:49] AmitKarnam commented on #69
@patchandpray I would like to take up this issue!

[2022-01-12 14:38] patchandpray commented on #66
Yes you can, go ahead.

[2022-01-12 14:40] patchandpray commented on #69
I assigned you, good luck!

[2022-01-13 05:51] lakshay-nasa commented on #62
/Assign

[2022-01-14 11:57] AmitKarnam commented on #69
Questions I am looking to answer here :

1) What's the best way to store media files ( In our case, it's  Rap music files ) ? Store it directly to the database? Or store it as separate link in the database, while the original Rap file is stored some place else?

2) The difference in running database as per usual standard and on kubernetes.

3) Requirements for running DB on Kubernetes.

4) The pre

[2022-01-14 12:22] AbhijithGanesh commented on #69
Amit I might have few answers.

1. We are going to receive it as `yaml` files and these yaml files need to be subsequently stored
2. Operationally there is an extra layer of security with k8s

[2022-01-16 11:22] patchandpray commented on #69
We might also consider to take the text from the content from the yaml files and store it based on key/value.

[2022-01-16 11:27] patchandpray opened #71 "[OTHER] MicroTopic - Database model for RAP's"
### What would you like to share?

If we are going to store data about the RAP's in a database we have to think about how we are going to store it.

With regards to any data about the rap's can we come up with:
- what we can store
- what we want to store
- how would that looke like in a datamodel

The outcome of this story should be answers to the above questions in a format that we can reference

[2022-01-16 11:29] patchandpray opened #72 "[FEATURE] Notify slack channel of new issues"
### Would you like to have a new feature? Please describe.

Can we automatically post new issues that are created here to the slack channel so everbody can see them?

How would we do this, do we have to build our own bot or is there already an integration for github/slack that we can use?

How would we configure this?

### How would this feature be beneficial for the project

It would improve our

[2022-01-16 14:10] yashgangwar7558 commented on #63
@patchandpray I want to work on this.

[2022-01-16 14:41] Polokghosh53 commented on #72
There is way actually. Do refer to this link: https://github.com/integrations/slack if it feels relevant to you.

[2022-01-17 03:39] AmitKarnam commented on #69
From what I understand here , is that we need to answer the question of how we plan to design our database and how we plan to store our data.

As K8's has evolved to handle databases,  we need to first take a call on our dB

Also the basic requirement for running a dB on k8's is that it has a image we can pull frm a container registry and use.This is not a big problem as many of the popular databa

[2022-01-17 03:45] AmitKarnam commented on #72
Is our aim to achieve something similar to that achieved in eddiehub discord server, where they have a github channel to bring the live updates on github repo to their discord channel?

[2022-01-17 07:54] Vrukshali-26 commented on #66
Can you assign this issue to me?

[2022-01-17 08:22] Vrukshali-26 commented on #66
Where do I need to share the blog?

[2022-01-17 11:53] Polokghosh53 commented on #72
Yes, we are looking for something like where we will receive updates regarding our repo automatically than manually so that we keep ourselves updated with the issues that are dropping.

[2022-01-17 13:42] patchandpray commented on #72
For me initially only notifications in the case new issues are created are enough. No other updates yet, this can cause update fatigue.

[2022-01-17 15:45] gullapalli9482 opened #74 "Addition of various social media links of dok community."
### Would you like to have a new feature? Please describe.

Including a section wherein , folks going through the readme file could follow accounts of dok community by including icons or links navigating the users to the "dok community's" social media accounts.

### How would this feature be beneficial for the project

This would be really helpful for those:
-> Visiting the github page for the ver

[2022-01-17 15:47] gullapalli9482 commented on #74
I would like to work on this, do assign me ,for doing it

[2022-01-17 17:23] AbhijithGanesh commented on #69
We'll be sticking to Cassandra (most-likely) and I am not sure about the operators as of now as it will be a bigger process to implement and more documentation will be required. We need to see the merits and demerits before we make a decision.

[2022-01-17 18:23] AbhijithGanesh commented on #71
@patchandpray I think for the DB Schema, We need to come up with an extensive mapping of the same and we need to save it in our contributing/docs guide. I think @birthmarkbart will have to help us with this.

[2022-01-17 18:23] AbhijithGanesh commented on #72
@patchandpray Do we not have a github extension which does this?

[2022-01-18 03:21] AmitKarnam commented on #69
@AbhijithGanesh I think through this issue, we are trying to find an alternative for cassandra and may be use it in our project?
Please clarify.

[2022-01-21 04:30] Vrukshali-26 commented on #70
@ShivamTyagi12345 are you still working on this issue?

[2022-01-21 04:40] ShivamTyagi12345 commented on #70
Thanks for Checking In:) Yes I am working on this issue. But Would appreciate it if u can review my PR as soon as I am done with it

[2022-01-21 04:48] Vrukshali-26 commented on #70
Yaa sure! Will do that.

[2022-01-24 06:20] yashgangwar7558 commented on #65
@patchandpray I want to work on this issue.

[2022-01-24 07:02] Vrukshali-26 commented on #72
Is anyone working on this issue?
I have found this https://zapier.com/apps/github/integrations/slack/396/get-slack-notifications-for-new-github-issues

[2022-01-24 07:38] AmitKarnam commented on #72
It's a paid service,  need to talk to other members regarding this.
Can we come up with a simple automation script for this as a temporary solution?

[2022-01-24 08:56] Vrukshali-26 commented on #72
I have found some resources lile we can do this by github actions.

[2022-01-25 05:40] cnu1812 commented on #67
Hi is this issue assigned to anyone. if not please assign this issue for me ill be working on dataops.

[2022-01-25 10:54] kaiwalyakoparkar opened #78 "[DOCS] Add Componenets as bullet points"
### Would you like to have a new feature? Please describe.

The components section looks like a single block of text. If we add bullet points to each component description then it will be easer to read and refer
![example image](https://i.imgur.com/8uAsuEo.png)

### How would this feature be beneficial for the project

_No response_

### Additional context

_No response_

[2022-01-25 19:08] chaitanya-24 commented on #78
Hello @kaiwalyakoparkar, I would like to solve this issue.

[2022-01-26 05:47] kaiwalyakoparkar commented on #78
Sure @chaitanya-24, go ahead :)

[2022-01-26 05:49] ShivamTyagi12345 commented on #70
@Vrukshali-26  if u r still interested please do take up this issue:) I am a bit occupied with few other commitments at the moment

[2022-01-26 05:56] Vrukshali-26 commented on #70
No issues! I'll work on this!

[2022-01-26 06:23] AbhijithGanesh commented on #70
Are we planning to use GitHub to push docker images? Any thoughts @Vrukshali-26 and @ShivamTyagi12345

[2022-01-26 06:41] ShivamTyagi12345 commented on #70
We do have  GitHub Container Registry .Doesn't that align with our requirements here @AbhijithGanesh

[2022-01-26 06:59] AbhijithGanesh commented on #70
It certainly does, usually the practice is to push it to DockerHub, but GitHub came up with their own provision to work with Images, thats why I asked.

Since we'll be working with GitHub, can you and @Vrukshali-26 work on establishing the repository/directory/provisions to facilitate image sharing.

[2022-01-26 07:19] ShivamTyagi12345 commented on #70
sure sounds good

[2022-01-26 12:33] Vrukshali-26 commented on #70
Okay!

[2022-01-27 05:39] shreemaan-abhishek commented on #1
@bradmccoydev are you still available to work on this? If yes, I can assign it to you!!

[2022-01-28 17:33] shreemaan-abhishek commented on #74
@gullapalli9482 assigned it to you :)

[2022-01-28 18:16] #25 closed

[2022-01-28 18:31] shreemaan-abhishek commented on #51
@ShivamTyagi12345, @helper-uttam. Updates on this please.

[2022-01-28 18:36] shreemaan-abhishek commented on #62
@lakshay-nasa any updates on this bro?

[2022-01-29 02:42] lakshay-nasa commented on #62
@shreemaan-abhishek Thanks for checking in ʘ‿ʘ. This issue is closed.
You can checkout Article here. [https://github.com/dokc/how-to-dok/blob/main/resources/argo_workflows.md]()

[2022-01-29 04:48] ShivamTyagi12345 commented on #51
Sure. I have created a docker image of the app, After that ,It was on a hold. Hoping to get started with it from Feb1
again.Hope that's alright

[2022-01-29 11:41] AbhijithGanesh commented on #51
I think we can close this issue as there is already a Docker compose file which takes care of the same. PS: We are using the official cassandra image

[2022-01-29 11:44] AbhijithGanesh commented on #51
The docker compose file is in the [Cassandra-Local-Config](https://github.com/dokc/how-to-dok/tree/main/Cassandra-Local-Config) folder.

[2022-01-30 04:09] shreemaan-abhishek commented on #62
@lakshay-nasa, Thanks! BTW, mentioning the issue number along with the PR is recommended.

[2022-01-30 04:09] #62 closed

[2022-01-30 13:47] kranurag7 commented on #66
@Vrukshali-26 Are you still working on this?

[2022-01-30 14:00] Vrukshali-26 commented on #66
I have written the blog in the resources directory.

[2022-01-30 14:04] kranurag7 commented on #66
Thanks for the heads up @Vrukshali-26
I will try to contribute on other issues.

[2022-01-30 18:06] #66 closed

[2022-01-31 19:59] Anubhavdevv commented on #78
Hey, @kaiwalyakoparkar I would also like to work on this issue !!

[2022-02-01 07:28] #63 closed

[2022-02-01 14:26] shreemaan-abhishek commented on #54
@AmitKarnam all blogs are done? If yes, I think we should close this issue.

[2022-02-01 14:27] AmitKarnam commented on #54
The last one is yet to be complete, one merged and for the other I have raised a pr

[2022-02-02 08:31] mkcr12 commented on #68
@patchandpray I would like to take up this issue!

[2022-02-02 08:37] Ridhiyanshi commented on #68
@patchandpray please can you assign me this issue.

[2022-02-03 04:18] akshitadixit commented on #72
Is this being worked upon?

[2022-02-03 06:08] AbhijithGanesh commented on #78
@shreemaan-abhishek I think this issue can be closed, the error has been patched.

[2022-02-03 06:09] AbhijithGanesh commented on #74
@gullapalli9482 Will you be adding this to the readme file? If you need any help feel free to reach out!

[2022-02-03 06:09] AbhijithGanesh commented on #72
@akshitadixit It is being worked on, it is more of a feature addition.

[2022-02-03 10:20] #78 closed

[2022-02-03 10:21] #54 closed

[2022-02-03 15:11] AbhijithGanesh opened #84 "[FEATURE] Addition of Schema for the Project"
### Would you like to have a new feature? Please describe.

We need to have an elaborate entity-relationship diagram explaining all the collections and tables in the project to simplify the work flow for the developers, this would allow us to quickly make tables and establish other working parts, This would also be useful for the API part in the future when we're building one.

### How would this

[2022-02-03 15:35] AbhijithGanesh commented on #1
@shreemaan-abhishek I've written a couple of blogs

some them would be
[blog-1](https://dev.to/abhijithganesh/how-to-run-cassandra-container-locally-56bk)
[blog-2](https://t.co/RYqtaMqNSK)

Most of the setting up parts have been documented, they need to be added to our read me file .

[2022-02-03 16:40] shefali12-ab commented on #84
@AbhijithGanesh  sir is this issue is related to the documentation ?.
I have googled the entity-relationship diagram it says, it is a flowchart that relates objects within the system.

[2022-02-03 16:46] AbhijithGanesh commented on #84
It is somewhat related to documentation and the working of the dev-team. It is basically the diagram explaining connections within tables.

[2022-02-03 17:06] shefali12-ab commented on #84
okay, sir, I can create the documentation but I need to know like is there any prior knowledge I need to have, to understand this like I am new to it. I will clone the project in my local machine then to understand the relationship between collection and tables what I need to do. you can provide me with some reference videos.

[2022-02-04 05:17] AbhijithGanesh commented on #16
@shreemaan-abhishek duplicate of #2 I am closing this.

[2022-02-04 05:17] #16 closed

[2022-02-04 05:18] Polokghosh53 commented on #72
/assign

[2022-02-04 05:34] AbhijithGanesh commented on #84
@shefali12-ab I'd like to suggest this, this issue involves a bit of experience as it will be directing the flow of the development. If you'd like to know what the parameters are, you can reach out to us on [Slack](https://go.dok.community/slack). You can through all available documentation and probably come up with the Schema Diagram

[2022-02-04 05:37] akshitadixit commented on #69
considering this was assigned long ago, is this still being worked upon?

[2022-02-04 05:39] AbhijithGanesh commented on #69
@AmitKarnam Would you like to suggest alternatives or can this issue be closed?

[2022-02-04 05:41] AbhijithGanesh commented on #64
@akshitadixit would you like to work on this issue?

[2022-02-04 05:47] AbhijithGanesh commented on #68
@mkcr12 has been assigned, probably you can add your review and comments @Ridhiyanshi

[2022-02-04 05:47] AbhijithGanesh commented on #68
Argo CD documentation - https://argo-cd.readthedocs.io/en/stable/

[2022-02-04 06:29] AmitKarnam commented on #69
I think it's good to go with Cassandra. We can move to close this issue!

[2022-02-04 06:30] #69 closed

[2022-02-04 07:36] akshitadixit commented on #64
@AbhijithGanesh yes sure

[2022-02-04 09:17] AbhijithGanesh commented on #72
@birthmarkbart Has fixed this! This issue is closed

[2022-02-04 09:17] #72 closed

[2022-02-04 12:41] Polokghosh53 commented on #72
Great🤜🤛 @AbhijithGanesh !!

[2022-02-04 16:53] AbhijithGanesh opened #85 "[FEATURE]: Addition of K8ssandra documentation"
### Would you like to have a new feature? Please describe.

The reference documentation can be [seen](https://dokc.github.io/Helm-Charts/). We'd like to have more elaborate documentation about the same. It'd be useful if one can add more markdown formatted documentation to [resource](https://github.com/dokc/how-to-dok/tree/main/resources) so that the new members can refer to it. It'd be really use

[2022-02-04 17:02] AbhijithGanesh commented on #2
@shreemaan-abhishek I am of the opinion that this issue has been taken care of and needs to be closed.

[2022-02-04 17:03] #1 closed

[2022-02-04 17:04] AbhijithGanesh commented on #4
@patchandpray and @shreemaan-abhishek I think the issue #84 Will take care of this and this can be closed as well

[2022-02-04 17:05] AbhijithGanesh commented on #71
I think the issue  #84 encapsulates this, probably we can convert this issue into making documentation or make a new one related to documentation

[2022-02-04 17:09] AbhijithGanesh commented on #68
@shreemaan-abhishek #3 This is a duplicate issue I guess.

[2022-02-04 17:18] AbhijithGanesh commented on #84
@shefali12-ab

You need to consider the following parameters:

- the name of the field / column (ie: user, video_url, lyrics)
- the data type of that column (text, string, integer, boolean etc)
- the description of that field/column( ie: video_url: url pointing to the video online)
- - If the field can be null, (empty)
- How are the tables/collections related to each other

[2022-02-04 17:20] Ridhiyanshi commented on #85
@AbhijithGanesh I would like to take up this issue.

[2022-02-04 17:23] AbhijithGanesh commented on #84
For Fields, you can consider the following parameters:

- RAP lyrics
- Singers
- Albums
- Date of Release
- Label
- Collaborators
- Lyricist

[2022-02-05 04:46] shreemaan-abhishek commented on #2
Correct!

[2022-02-05 04:46] #2 closed

[2022-02-05 04:54] shreemaan-abhishek commented on #4
Also issue #64. So we should close this. Yes.

[2022-02-05 04:54] #4 closed

[2022-02-05 04:54] shreemaan-abhishek commented on #71
We kinda have a lot of issues just for getting rap lyrics into the DB 👀

[2022-02-05 04:56] shreemaan-abhishek commented on #68
Ahh yes it is 😬

[2022-02-05 04:56] #68 closed

[2022-02-05 06:29] helper-uttam opened #86 "Microservice: How to dockerize/containerize a MERN application"
### What would you like to share?

Some useful resources like blog post which can help to containerize a MERN application

### Additional information

_No response_

[2022-02-05 08:07] AbhijithGanesh commented on #86
Sorry but this issue is not relevant to our project.

[2022-02-05 08:09] helper-uttam commented on #86
Ok so please close it.

[2022-02-05 08:11] #86 closed

[2022-02-05 08:14] AbhijithGanesh commented on #70
@Vrukshali-26 are you making a blog here or in a platform like dev.to?

[2022-02-05 11:46] Vrukshali-26 commented on #70
I'm making In resources directory

[2022-02-06 12:10] shreemaan-abhishek commented on #85
@Ridhiyanshi assigned it to you!

[2022-02-06 12:43] #71 closed

[2022-02-07 15:44] AbhijithGanesh opened #88 "[FEATURE] How do we get started and go step by step"
### Would you like to have a new feature? Please describe.

What is an ideal roadmap a new developer should follow to become a part of the project? What all should they do to start contributing from a technical standpoint?

### How would this feature be beneficial for the project

It is a part of the developer relations, it'll integrate the members into the project smoothly

### Additional context

[2022-02-07 15:44] AbhijithGanesh commented on #88
/assign

[2022-02-08 06:55] AbhijithGanesh commented on #70
@Vrukshali-26 I am closing the issues as the PR has been merged

[2022-02-08 06:55] #70 closed

[2022-02-08 14:04] AbhijithGanesh commented on #84
![DoK ERD](https://user-images.githubusercontent.com/67182544/153002529-7281200e-c2d0-4486-8bae-93f0262e50f2.png)
Sample Schema

[2022-02-08 14:36] AmitKarnam opened #90 "What is StarGate?"
### What would you like to share?

Questions to be answered
1) What is stargate.
2) Why do we need stargate in our project.
3) Any pro's and con's specific to our project.

### Additional information

_No response_

[2022-02-08 15:41] AmitKarnam commented on #90
I can take up this issue!

[2022-02-08 16:11] AbhijithGanesh opened #92 "[FEATURE]: Addition of ORM based code for tables"
### Would you like to have a new feature? Please describe.

As per the schema mentioned in the [Readme](https://github.com/dokc/how-to-dok#database-schema)  it'd be apt if the contributor refers to the Cassandra-Express [docs](https://express-cassandra.readthedocs.io/en/latest/) and write `javascript` queries using the library:

Sub-tasks:
-  [] Singers Table
-  [] Lyrics Table
-  [] Rap Lyrics

#

[2022-02-08 16:23] AbhijithGanesh opened #93 "[FEATURE]: Addition of axios based API calls for Stargate"
### Would you like to have a new feature? Please describe.

### Would you like to have a new feature? Please describe.

As per the schema mentioned in the [Readme](https://github.com/dokc/how-to-dok#database-schema)  it'd be apt if the contributor refer to the Axios library [docs](https://axios-http.com/docs/intro) and write `javascript` requests using the axios library, the main purpose is to mak

[2022-02-08 18:55] AbhijithGanesh commented on #84
Related issues #92 #93

[2022-02-09 06:49] AbhijithGanesh opened #94 "[FEATURE]: How to retrieve super-user credentials"
### Would you like to have a new feature? Please describe.

Currently, the documentation doesn't cover how to retrieve super-user credentials and how to use them with the stargate API to retrieve data. One needs to create docs about how to retrieve the credentials

### How would this feature be beneficial for the project

This would make it easier for developers to access the stargate API.

### Ad

[2022-02-09 06:51] AbhijithGanesh commented on #94
@yashgangwar7558 was just working on this, Would you like to take the issue?

[2022-02-09 06:53] yashgangwar7558 commented on #94
@AbhijithGanesh I would like to work on this.

[2022-02-09 07:15] Vrukshali-26 commented on #90
Can I work on this issue?

[2022-02-09 07:19] AbhijithGanesh commented on #90
Feel free to reach out through Slack, you can use the tasks as points to be covered.

[2022-02-09 08:04] AbhijithGanesh opened #95 "[OTHER]: Addition of a markdown-renderer"
### What would you like to share?

The amount of documented files is increasing day by day, you can [review](https://github.com/dokc/how-to-dok/tree/main/resources). It'd be amazing if we can deploy this to our github pages and have it documented there, it'll increase the productivity flow and will be easy for members to hop on.

### Additional information

_No response_

[2022-02-10 11:24] AmitKarnam commented on #95
I can take a look at this, Can you assign it to me.

[2022-02-10 12:15] AmitKarnam commented on #84
Shouldn't the relation between singers and Rap Lyrics be a many to many relationship?

[2022-02-10 12:24] shreemaan-abhishek commented on #95
@AmitKarnam assigned!

[2022-02-11 03:27] AbhijithGanesh commented on #84
@AmitKarnam I agree, it must be

[2022-02-11 08:27] Anubhavdevv commented on #85
I would also like to work on this issue

[2022-02-11 08:28] Anubhavdevv commented on #74
I would also like to work on this issue

[2022-02-12 17:15] shreemaan-abhishek commented on #74
@gullapalli9482, are you actively working on this?

[2022-02-14 12:42] gullapalli9482 commented on #74
I would be working on this real soon.
it'll be done mostly by this  weekend.

[2022-02-22 13:50] gullapalli9482 opened #101 "Two resources folders under the how-to-dok repository"
### Would you like to have a new feature? Please describe.

Changing the names of them as per what they are , would make more sense , it could be done like the first one being named blogs since most of contents  are blogs , and the second one could be named in the same way as it is

### How would this feature be beneficial for the project

This would avoid ambiguity for someone who is exploring th

[2022-02-23 20:16] ShivamTyagi12345 opened #102 "[FEATURE] Use Github Actions to automate addition of labels for issues"
### Would you like to have a new feature? Please describe.

Instead of manually adding labels for the documentation-based issues, use the Github action [Labeler](https://github.com/marketplace/actions/labeler) to add labels based on the title of the issue.

### How would this feature be beneficial for the project

Will save us time

### Additional context

_No response_

[2022-02-28 06:20] #74 closed

[2022-03-14 14:33] #94 closed

[2022-03-14 14:38] #88 closed

[2022-03-15 05:25] #65 closed

[2022-03-20 02:19] subhamgcon commented on #102
Hey @ShivamTyagi12345, I would like to work on this issue.

[2022-03-20 02:21] ShivamTyagi12345 commented on #102
Yes please go ahead and lemme know if you face any blocks:)

[2022-03-20 02:34] subhamgcon commented on #102
Hey @ShivamTyagi12345, should I make a separate labels file and use it or use the default ones only?

[2022-03-20 02:36] ShivamTyagi12345 commented on #102
Let's go with the default ones for now. Please share the ones you are planning on using otherwise

[2022-03-20 02:37] subhamgcon commented on #102
Okay! I will share

[2022-03-20 03:05] subhamgcon commented on #102
@ShivamTyagi12345 Is this only for documentation labels?

[2022-03-20 03:13] ShivamTyagi12345 commented on #102
As of now. But we are planning on using it at other places too

[2022-03-20 03:47] subhamgcon commented on #102
Added a PR. A review would be really helpful!